#homePage {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    .banner-container {
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        height: 430px;
        figure {
            display: flex;
            flex-basis: 100%;
            height: 430px;
            position: relative;
            img {
                width: 100%;
                object-fit: cover;
                object-position: 10% 32%;
                z-index: -1;
            }
        }
        .slogan-container {
            padding: 30px 50px;
            background-color: white;
            position: absolute;
            right: 80px;
            top: 20%; 
            h2 {
                font-size: 1.5em;
            }
            p {
                padding-top: 20px;
                font-size: 1.2em;
            }
        }
    }
    .infosCard-container {
        color: #222;
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        flex-basis: 100%;
        justify-content: space-around;
        article {
            display: flex;
            flex-basis: 30%;
            flex-wrap: wrap;
            justify-content: center;
            > div {
                display: flex;
                border: 10px solid  #00bc77;
                border-radius: 50%;
                height: 150px;
                flex-basis: 150px;
                align-items: center;
                justify-content: center;
                img {
                    height: 100px;
                }
            }
            h3 {
               
                padding-top: 20px;
                display: flex;
                flex-basis: 100%;
                justify-content: center;
            }
            p {
                text-align: center;
            }
        }
    }  
}
@media screen and (max-width: 700px) {
    #homePage {
       .banner-container {
        .slogan-container {
            background-color: rgba(255, 255, 255, 0.384);
            border-radius: 20px;
            right: 20px;
        }
       }
       .infosCard-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 20px;
       }
    }
}
